[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
django = "*"
opencv-python-headless = "*"
numpy = "*"
django-crispy-forms = "*"
django-heroku = "*"
gunicorn = "*"

django-cloudinary-storage = "*"

[dev-packages]

[requires]
python_version = "3.8"
